:root {
    --color-1: #ffffff;
    --color-2: #f5f7fc;
    --color-3: #dfe6f4;
    --color-4: #afc2e3;
    --color-5: #7fa1d4;
    --color-6: #4d82c1;
    --color-7: #006fbb;
    --color-8: #085ba2;
    --color-9: #0b4889;
    --color-10: #0e3470;
    --color-11: #0b1d55;
    --color-12: #101010;
}

.roadmap {
    display: flex;
    flex-direction: column;
    --spacing: 10px;
    --u: 40px;

    gap: var(--spacing);
}

.track {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    min-width: 100%;
}

.task__subtasks {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.task {
    --empty-color: var(--color-1);
    --fill-color: var(--color-2);

    --title-font-size: 18px;
    --description-font-size: 14px;
    --title-font-weight: 700;
}

.task--completed {
    position: relative;
}

.task--completed:after {
    content: "\2713";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-weight: bold;
    mix-blend-mode: soft-light;
}

.task .task {
    --empty-color: var(--color-2);
    --fill-color: var(--color-3);

    --title-font-size: 16px;
    --description-font-size: 14px;

    flex: 1 1 auto;
}

.task .task .task {
    --empty-color: var(--color-3);
    --fill-color: var(--color-4);

    --title-font-size: 14px;
    --description-font-size: 12px;
}

.task .task .task .task {
    --empty-color: var(--color-4);
    --fill-color: var(--color-5);
}

.task {
    position: relative;
    /*overflow: hidden;*/
    padding: 10px;
    flex: 1 0 auto;

    background: var(--empty-color);
    color: #222;
    border-radius: 3px;
    box-shadow: var(--fill-color) 0 0 0 1px inset;
}

.task__text {
    position: relative;
    z-index: 20;
}

.task__title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

.task__description {
    font-size: var(--description-font-size);
}

.task__text:not(:last-child) {
    margin-bottom: var(--spacing);
}

.task__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    background: var(--fill-color);
}